<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">
    <section class="title">
      <h3 class="welcome">Welcome to the</h3>
      Security Camera Archive Manager
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" clrInput placeholder="Username" formControlName="username" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" formControlName="password" />
      </clr-password-container>
      <div class="error alert-hidden">
        Invalid user name or password
      </div>
      <button type="submit" class="btn btn-primary">NEXT</button>
    </div>
  </form>
</div>
