<clr-datagrid [(clrDgSelected)]="selected">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete();">
        <cds-icon shape="close"></cds-icon> Delete
      </button>
    </div>
  </clr-dg-action-bar>

  <clr-dg-column [clrDgField]="'id'">User ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'creation'">Creation date</clr-dg-column>
  <clr-dg-column [clrDgField]="'color'">Favorite color</clr-dg-column>

  <clr-dg-row *clrDgItems="let deed of deeds" [clrDgItem]="deed">
    <clr-dg-cell>{{deed.id}}</clr-dg-cell>
    <clr-dg-cell>{{deed.name}}</clr-dg-cell>
    <clr-dg-cell>{{deed.creation}}</clr-dg-cell>
    <clr-dg-cell>{{deed.color}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Deeds per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} deeds
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
